header{
    width: 100%;
    background-color: rgb(253, 253, 253);
    padding: 1rem 0rem;

    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
color:rgb(216, 68, 159);
font-size: 3rem;
}

.menu{
width: 100%;
list-style: none;

display: flex;
flex-direction: column;
align-items: center;

}

.menu li{
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(22, 22, 22);

    
}